<html>

<head>
    <title>Articles | <%= title %>
    </title>
</head>

<body>
    <div>
        <h1>
            <%= article.title %>
        </h1>
        <p>
            <%= article.body %>
        </p>
    </div>
</body>

</html>